/* 
    Reset css

    
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Declare font familes
---------------------*/
@font-face {
  font-family: "Woodland Bold";
  src: url("./fonts/woodland/PPWoodland-Bold.otf");
}
@font-face {
  font-family: "Sunborn";
  src: url("./fonts/Sunborn/Sunborn-SansOne.otf");
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("./fonts/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "Whirly Bats";
  src: url("./fonts/WhirlyBats/WhirlybatsVariable.otf");
}
/* General settings
-----------------------*/
body {
  color: #050a30;
  background-color: #d9d9d9;
  font-family: "Glacial Indifference";
}
h2 {
  font-family: "Woodland Bold";
  font-weight: 300;
  font-size: 200%;
}

/* Header 
-----------*/
div.header {
  padding: 2% 2.5% 2% 2.5%;
}
div.siteIcon {
  width: 20%;
  display: inline-block;
  text-align: left;
}
.siteIcon img {
  width: 35%;
}
div.siteTtl {
  font-family: "Sunborn";
  font-size: 200%;
  text-align: center;
  width: 60%;
  display: inline-block;
  color: #050a30;
}
div.userIcon {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-family: "Whirly Bats";
  font-size: 200%;
  font-weight: 500;
  text-align: right;
  letter-spacing: 12px;
}
.userIcon span {
  background-color: #a6a6a6;
  border-radius: 50%;
  width: 100px;
  text-align: center;
  letter-spacing: 8px;
  padding-left: 2%;
}

/* Menu bar
-------------*/
div.menuBar {
  font-family: "Woodland Bold";
  font-size: 150%;
  font-weight: 300;
  margin: 0 5% 0 5%;
  padding-bottom: 1%;
  /* width: 80%; */
  border-bottom: #050a30 1.25pt solid;
}
.menuBar h3 {
  display: inline-block;
  width: 15%;
  text-align: left;
}
.menuBar h3.searchBox {
  width: 25%;
  text-align: center;
}
/* Audio Player
--------------*/
div.player {
  background-color: #a6a6a6;
  width: 100%;
  height: 90px;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 0;
  display: "";
  vertical-align: middle;
  font-size: 125%;
  line-height: 125%;
}

div.podArt {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  padding: 2.5%;
}
div.nowPlaying {
  width: 70%;
  height: 100%;
  padding: 2.5%;
  vertical-align: middle;
  display: inline-block;
}
div.nowPlaying p {
  overflow: hidden;
}
div.podArt img {
  width: 80%;
}
div.playingTtl {
  width: 20%;
  height: 80px;
  display: inline-block;
  padding: 0 1% 0 1%;
}
div.icon {
  width: 3.25%;
  padding: 0.5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
div.icon > svg {
  width: 35px;
  stroke: none;
  fill-rule: nonzero;
  fill: #050a30;
  fill-opacity: 1;
}
#conversation {
  stroke: #050a30;
  stroke-width: 14px;
  fill: none;
}
#convo {
  stroke: none;
  fill-rule: nonzero;
  fill: #050a30;
  fill-opacity: 1;
  font-size: 325px;
}
#logo_one {
  stroke: none;
  fill-rule: nonzero;
  fill: rgb(46.269226%, 30.198669%, 19.219971%);
  fill-opacity: 1;
}
#logo_two {
  stroke: none;
  fill-rule: nonzero;
  fill: rgb(94.509888%, 66.668701%, 47.839355%);
  fill-opacity: 1;
}
#logo_three {
  stroke: none;
  fill-rule: nonzero;
  fill: rgb(88.238525%, 61.569214%, 43.139648%);
  fill-opacity: 1;
}
#logo_four {
  stroke: none;
  fill-rule: nonzero;
  fill: rgb(81.959534%, 45.878601%, 18.818665%);
  fill-opacity: 1;
}
#volumeBar {
  text-align: center;
  width: 3.5%;
  position: fixed;
  margin: 0;
  bottom: 80px;
  background-color: #a6a6a6;
  padding: 1% 0 1% 0;
}
.volumeIcon {
  overflow-wrap: break-word;
  /* border: 1px solid #050a30; */
}
#volumeBase {
  stroke: #0292b7;
  fill: #0292b7;
}
#volumeLevel {
  stroke: #050a30;
  fill: #050a30;
}
.icon img {
  width: 50px;
}
.icon img:hover {
  cursor: pointer;
}
div.progressBar {
  width: 48%;
  display: inline-block;
}
.hideBar {
  display: none;
}
#timeline {
  /* padding: 2.5% 0 2.5% 0; */
  display: inline-block;
  /* border: 1px solid black; */
  cursor: pointer;
}
/* Carousel on Homepage
-----------------------*/
div.carousel {
  padding: 0 2.5% 0 2.5%;
  height: 300px;
}
div.carouselImage {
  width: 15%;
  display: inline-block;
  padding: 2.5%;
}
.carouselImage img {
  width: 100%;
  height: 100%;
}
.horizontal-scroll-wrapper > div {
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
  transform-origin: right top;
}
.horizontal-scroll-wrapper {
  width: 300px;
  height: 1800px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-300px);
}
.horizontal-scroll-wrapper ::-webkit-scrollbar {
  width: 0px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar {
  width: 0px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  */
  border-radius: 0px;
}

.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  */
}
/* Podcast page
----------------*/

div.podInfo {
  width: 50%;
  display: inline-block;
  padding: 1% 2.5% 0 5%;
  vertical-align: top;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.podInfo div {
  display: inline-block;
}
div.podInfo div:first-child {
  width: 20%;
}
div.podInfo > div > img {
  width: 100%;
}
div.description {
  width: 74%;
  padding: 1% 2.5% 0 2.5%;
  vertical-align: top;
}

div#target div {
  width: 100%;
  font-family: "Glacial Indifference";
  font-size: 125%;
}
div.podEpisodes {
  width: 40%;
  padding-right: 2.5%;
  display: inline-block;
  margin-bottom: 150px;
}
div.episodeList {
  border: 1px solid #a6a6a6;
  font-size: 125%;
}
div.episode div:first-child {
  width: 5%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
}

div.episode div:last-child {
  border: 1px solid black;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
}
div.episodeList div {
  padding: 2% 2.5% 1% 2.5%;
  border: 1px solid #a6a6a6;
}
